@import "libs/reset.scss";
@import "libs/variable.scss";
@import "libs/mixins.scss";

/*LOADER*/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: fit-content;
  font-weight: bold;
  font-family: $font-family2;
  font-size: 30px;
  color: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
      90deg,
      $primary-color 33.3%,
      $secondary-color 0 66.6%,
      $tertiary-color 0
    )
    0 0/300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: loading 5s infinite cubic-bezier(0.3, 1, 0, 1),
    fadeOut 0.5s 5.5s forwards;
}

.loader:before {
  content: "Loading...";
}

@keyframes loading {
  33.3% {
    background-position: calc(1 * 100% / 2) 0;
  }
  66.6% {
    background-position: calc(2 * 100% / 2) 0;
  }
  100% {
    background-position: calc(3 * 100% / 2) 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}

body {
  font-family: $font-family, sans-serif;
  width: 100%;
}

h2 {
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
}

.card a,
.card a:hover,
.card a:visited {
  color: black;
}

/*Header et location*/
.header {
  height: 113px;
  display: flex;
  flex-direction: column;
  &__logo {
    @include flexcenter;
    padding: 20px 0 15px 0;
    height: 63px;
    box-shadow: 0 2px 4px 0 $shadow15;
    z-index: 10;
  }
  &__location {
    @include flexcenter;
    gap: 17px;
    height: 50px;
    font-size: $font-size-text;
    font-weight: 500;
    background-color: #eaeaea;
    box-shadow: 0 4px 4px 0 $shadow25;
    color: #353535;
  }
}

main {
  background-color: $background-color;
}

/*Information*/
.info {
  @include flexcentercolumn;
  text-align: center;
  &__title {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    padding: 39px 42px 0 58px;
    text-align: center;
  }
  &__subtitle {
    margin: 16px 0;
    font-size: $font-size-subtitle;
    font-weight: $font-weight-light;
    padding-bottom: 27px;
  }
}

.btn {
  @include flexcenter;
  width: 217px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(180deg, $secondary-color, $primary-color);
  color: white;
  border: none;
  box-shadow: 0 4px 10px 0 $shadow25;
  font-size: $font-size-text;
  font-family: $font-family;
  font-weight: $font-weight-medium;
  margin-bottom: 57px;
  transition-duration: 0.5s;
  cursor: pointer;
  &:hover {
    opacity: 85%;
    box-shadow: 0 4px 15px 0 $shadow35;
    transition-duration: 0.5s;
  }
}

/*Fonctionnement*/
.process__container {
  background-color: white;
  padding: 48px 30px 68px 20px;
}
.process {
  &__title {
    padding-bottom: 26px;
  }
  &__steps {
    @include flexcolumn;
    justify-content: space-between;
    gap: 25px;
    & i {
      color: $icon-color;
      font-size: 20px;
      margin-right: 25px;
    }
  }
  &__stage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0px 24px 25px;
    box-shadow: 0 4px 15px 0 $shadow15;
    border-radius: 20px;
    font-weight: $font-weight-medium;
    font-size: $font-size-text;
    background-color: $background-color;
  }
  &__number {
    @include flexcenter;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    background-color: $primary-color;
    position: absolute;
    transform: translateX(-35px);
  }
  &__ico--color i {
    color: $primary-color;
  }
}

/*Restaurants*/
.restaurants {
  background-color: $background-color;
  padding: 54px 18px 66px 17px;
  &__title {
    padding-left: 2px;
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 24px;
    gap: 18px;
  }
}

/* card des différents restaurants*/
.card {
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px $shadow10;
  text-decoration: none;
  height: 251px;
  position: relative;
  overflow: hidden;
  &:hover {
    /*On augmente la taille de la carte du restaurant de 1 % lorsque la souris passe dessus.*/
    transform: scale(1.01);
  }
  & a {
    color: black;
  }
  &__image {
    img {
      display: flex;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 231px;
      position: relative;
      top: -57px;
    }
  }

  &__label {
    @include flexcenter;
    position: absolute;
    background-color: $tertiary-color;
    color: $label-color;
    width: 80px;
    height: 29px;
    font-size: $font-size-label;
    font-weight: $font-weight-medium;
    box-shadow: 0 2px 4px 0 $shadow15;
    border-radius: 2px;
    top: 13px;
    right: 10px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 0 13px;
    top: -60px;
  }

  &__txt {
    @include flexcolumn;
    gap: 5px;
  }

  &__title {
    font-size: $font-size-subtitle;
    font-weight: $font-weight-bold;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: $font-weight-light;
  }

  &__favorite {
    position: relative;

    & i {
      position: absolute;
      right: 25px;
      top: -93px;
      font-size: 22px;
      color: #101010;
    }
  }
}

/*Permet de gérer la checkbox et le changement de couleur du cœur lorsque celle-ci est cochée.*/
/* Permet de cacher la checkbox et de la positionné*/
.favorite-checkbox {
  display: none;
  position: absolute;
  top: -90px;
  right: 29px;
}

.favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  /* Lorsque la checkbox est cochée, masque l'icône de cœur vide (favorite-notLiked) et affiche l'icône de cœur plein (favorite-liked) */
  input[type="checkbox"]:checked ~ .favorite-liked {
    display: inline-block;
    opacity: 1;
  }
  input[type="checkbox"]:checked ~ .favorite-notLiked {
    display: none;
  }
  &:hover .favorite-liked {
    opacity: 1;
  }
}

.favorite-notLiked {
  position: absolute;
}
.favorite-liked {
  position: relative;
  background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

/*FOOTER*/
footer {
  @include flexcolumn;
  background-color: $footer-color;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  & .logo {
    color: white;
    font-family: $font-family2;
    font-size: $font-size-subtitle;
  }
  & ul {
    @include flexcolumn;
    gap: 7px;
    & li {
      display: flex;
      color: white;
      gap: 11px;
      & i {
        position: relative;
        width: 11px;
        height: 13px;
        top: 2px;
      }
      & a {
        color: white;
        font-weight: $font-weight-medium;
        font-size: $font-size-text;
      }
    }
  }
}

@media (min-width: 768px) {
  .info {
    &__title {
      font-size: 30px;
    }
  }
  /* passage de la section fonctionnement de la disposition en colonne à la disposition en ligne*/
  .process__steps {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .process__stage {
    width: 320px;
  }
}

@media (min-width: 820px) {
  /*Passage de la section restaurants sur deux colonnes et deux lignes + modification de l'espacement entre les cards.*/
  .restaurants {
    padding: 30px auto;
    &__cards {
      grid-template: 1fr 1fr / 1fr 1fr; /* Avant le "/", cela correspond à "grid-template-rows" donc 2 lignes, et après le "/", cela correspond à "grid-template-columns" donc 2 colonnes.*/
      gap: 50px 50px; /*La première valeur correspond au gap vertical et la seconde au gap horizontal.*/
    }
  }
  .card {
    min-width: 290px;
  }
}

@media (min-width: 1024px) {
  /*Augmentation de la taille du titre de la section info.*/
  .info {
    &__title {
      font-size: 40px;
    }
  }
  /*Passage de la section restaurants sur deux colonnes et deux lignes + modification de l'espacement entre les cards.*/
  .restaurants {
    padding: 30px 180px;
    &__cards {
      grid-template: 1fr 1fr / 1fr 1fr; /* Avant le "/", cela correspond à "grid-template-rows" donc 2 lignes, et après le "/", cela correspond à "grid-template-columns" donc 2 colonnes.*/
      gap: 50px 100px; /*La première valeur correspond au gap vertical et la seconde au gap horizontal.*/
    }
  }

  /*Réduction de la marge sous le bouton de la section info.*/
  .btn {
    margin-bottom: 30px;
  }

  /*Ajout de marges pour la section fonctionnement ainsi que modification de l'espace entre les trois "stages".*/
  .process {
    &__container {
      padding: 50px 180px;
    }
    &__steps {
      gap: 50px;
    }
  }

  /*Mise en place des éléments du footer en ligne. On applique un row-reverse afin d'inverser le logo avec la liste de liens.*/
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
  footer .logo {
    width: 139px;
    padding-top: 27px;
  }
  footer ul {
    width: 661px;
    padding-top: 34px;
    flex-direction: row;
  }

  /*On cible les deux premiers éléments li.*/
  footer ul li:nth-child(-n + 2) {
    width: 190px;
  }
  /*On cible les deux derniers éléments li.*/
  footer ul li:nth-child(n + 3) {
    width: 130px;
  }
}

/*Ajout de marges sur la gauche et la droite lorsque la taille de l'écran est supérieure à 1440px.*/
@media (min-width: 1440px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}
